[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

# "633048b" = {file = "http://download.pytorch.org/whl/cu91/torch-0.3.1-cp36-cp36m-linux_x86_64.whl"}
# "59d3f8a" = {file = "http://download.pytorch.org/whl/torch-0.3.1-cp36-cp36m-macosx_10_7_x86_64.whl"}
# torchvision = "*"
pandas = "*"
matplotlib = "*"
ipython = "*"


[dev-packages]

pylint = "*"


[requires]

python_version = "3.6"
